
body {
	width: 100%;
	font-size:12pt;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0px auto;
	text-align: center;
	
}
#Titulo{

			background-color:#8f8d16;
            color:white;
			font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif	
			text-align: center;
			display: flex;
   			align-items: center;
    		justify-content: space-between;
			height: 63px;
			width: 100%;
			z-index: 100;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 10px;
					
}
.descripcion{
			width:100%;
			height:15%;
			right:0;
			left:0;
			bottom:auto;
			text-align: center;
			text-transform: none;
			font-weight: normal;
}
#menu {
            width:100%;
			height:20%;
            font-family:Arial, Helvetica, sans-serif;
			margin-top: auto;
			position:relative;	
    		display: block;
    		clear: both;
   			text-transform: uppercase;
	
}
ul{
            list-style-type: style none;
}

#menu  li {
            float:left;
			display: flex;
    	
			
}
#menu li a {
            background-color:#8f8d16;
            color:white;
            display:block;
            text-decoration:none;
            padding: 10px 12px;
			text-transform: uppercase;
			font-size: 15px;
			
}
#menu li a:hover {
            background-color:#58570d;
}
#tours{
	display:none;
	position:absolute;
	min-width:140px;
	margin-top: 3.5%;
}

#menu ul li:hover > ul {
	display:block;
	
	
}
#Texto{
	position:absolute;
	width:80%;
	height:auto;
	right:0;
	left:15px;
	bottom:auto;
	top:40%;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:10px;
    margin-right:10px;
	padding-bottom: 15%;
	text-align: justify;
	color:black;
	text-transform:none;
	font-weight:lighter;
	font-size: medium;
			
}

#info {

	font-weight:lighter;
	font-size: medium;
}

#Carmo, #Necropolis, #Privada, #Sevilla{
	border-radius: 50%;
}

#Banner {
	display: block;
  margin-left: 30%;
  margin-right: auto;

}
#Tw, #Fb, #Yt {
	border-radius: 50%;
}
#Tw, #Fb, #Yt, #Ins, #Huellas {
	margin-left: auto;
}


.Redes {
	margin-left: 10%;
}
.Titulo {
	margin-left: 22%;
	margin-right: auto;
}

#formulario {
	width:100%;
	margin-left: 5%;
	color:black;
	text-transform:none;
}
label {
	font-weight:bold;
	display: inline-block;


}
#obligatorio{
	font-weight:normal;
	font-size: 10px;
	text-transform: none;
	
}

form input{
	width:20%;
	padding:4px 10px;
	border-color:black;
	border-style: double;
	border-radius:3px;
	margin-left: 5%;
	margin-top:4px;

	
}

#Lateral{
	width:15%;
	position:absolute;
	height:auto;
	right:0;
	left:auto;
	bottom:auto;
	top:30%;
	text-align: center;

	
}
#Pie{
	width:100%;
	position:fixed;
	height:auto;
	right:0;
	left:0;
	bottom:0;
	text-align: center;
	font-family:monospace;
	letter-spacing: 0px;
}